.leaflet-container {
  background-color: hsl(var(--card));
}

.custom-tooltip {
  background-color: hsl(var(--popover));
  color: hsl(var(--popover-foreground));
  border: 1px solid hsl(var(--border));
  border-radius: var(--radius);
  padding: 4px 8px;
  font-size: 12px;
}

.custom-popup .leaflet-popup-content-wrapper {
  background-color: hsl(var(--popover));
  color: hsl(var(--popover-foreground));
  border-radius: var(--radius);
  border: 1px solid hsl(var(--border));
  padding: 1rem;
}

.custom-popup .leaflet-popup-content {
  margin: 0;
  width: 200px !important;
}

.custom-popup .leaflet-popup-tip {
  background-color: hsl(var(--border));
}

.constrained-map {
  overflow: hidden;
}

.constrained-map .leaflet-popup-pane {
  transform: translate(0, -10px);
}
